body {
    background-color: #222222;
}

h1 {
    text-align: center;
}

.enterComment {
    width: 430px;
    height: 195px;
    border: 1px solid lawngreen;
    border-radius: 10px;
    padding-top: 8px;
}

.authorName {
    padding-left: 16px;
    color: darkseagreen;
    /*border-radius: 10px;*/
}

.correct.error{ /*этот класс применяется при наличии ошибок*/
    color: indianred;
    padding-left: 16px;
}

.authorComment{
    padding-left: 16px;
    color: darkseagreen;
    margin-top: 10px;
    margin-bottom: 10px;
}

.conner {
    border-radius: 5px;
}

.butAdd {
    cursor: pointer;
    margin-left: 16px;
    border-radius: 5px;
}

.butAddMC {
    cursor: pointer;
    /*margin-left: 2px;*/
    border-radius: 5px;
}

.butReset {
    cursor: pointer;
    border-radius: 5px;
}